.logo {
    display: block;
}

.logo img {
    height: 50px;
}

.nav-item {
  flex: 1 1 auto;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

[role=img] {
  cursor: pointer
}

md-toolbar {
  background-color: rgba(255, 255, 255, 0.6)!important;
  padding: 20px
}

md-toolbar button {
  color: black;
  font-size: 12px;
  font-weight: 400;
}

md-select {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

md-toolbar button.categories-button {
  font-size: 20px;
  margin-left: 30px;

}