<div class="carousel"></div>
<div class="icons center hidden-sm hidden-xs">
  <img 
    *ngFor="let icon of icons"
    [routerLink]="['insurance', icon.link]"
    [src]="buildSrc(icon)" 
    [alt]="icon.src"
    class="col-sm-12 col-lg-2" />
</div>
<div class="icons center hidden-lg hidden-md">
  <div>
    <img 
      *ngFor="let icon of icons"
      [routerLink]="['insurance', icon.link]"
      [src]="buildSrc(icon)" 
      [alt]="icon.src"
      class="col-sm-12 col-lg-2" />
  </div>
</div>
<section class="info">
  {{pageInfo}}
</section>