.no-paddings, custom-header {
    padding: 0!important;
}

.center {
    text-align: center;
}

custom-header {
  z-index: 5;
}

/* Body style */
.home {
    background: rgb(214, 215, 217);
    min-height: 100vh!important;
}

md-select .mat-select-placeholder {
  color: black !important;
  font-size: 12px !important;
}

@media screen and (max-width: 992px) {
    .mat-menu-panel {
        max-width: 100%!important;
    }
}